/* body {
    background: url("../images/Background-image.jpeg") no-repeat;
} */
#big-container{
    /* display:grid; */
    /* display:block
    height:150px;
    width:100%;
    background-color: black; */
  /* background-color: lightgrey; */
  background: url("../images/Background-image.jpeg") no-repeat;
  width: 600px;
  height: 500px;
  border: 50px solid green;
  padding: 25px;
  margin: 25px;
}  
#header{
    display:grid;
    grid-template-columns: 1fr 1fr;
    /* grid column:1/span 2; */
    border-color: #cccccc;
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    text-align:right;
    font-size: bold;
}
#small-container{
    display:grid;
    grid-template-columns: 1fr;

}
#column1{
    grid-column:1/span 1;
}

/* .btn-img-tmp {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 100px;
} */

.letter {
    width: 30px;
    height: 30px;
    border-style: solid;
    padding: 2px;
    float: left;
    margin: 2px;
  }
 
  .letter-button-color {
    color: darkcyan;
  }
 